/*  Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Satisfy&display=swap');

body {
    background-color: #0a272d;
}
.bg-color-green {
    background-color: #0a272d;
}

.text-yellow {
    color: #f8e9c6;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8e9c6;
}

.navbar {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar-logo {
    height: 200px;
    width: 200px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #6b7b7e;
}
/* Hero Image */

.hero-container {
    height: 70vh;
    background-color: inherit;
}

.hero-image {
  height: 100%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1530548091131-36336084c705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.slogan-container {
    min-height: 50%;
    min-width: 50%;
    margin: 0 auto;
    position: relative;
    top: 50%;
}

.slogan-text {
    color: #f8e9c6; 
    font-family: 'Satisfy'; 
    font-size: 50px;
    text-align: center;
}

/* About Section */

.about {
    min-height: 300px;
    background-color: #0a272d;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-bobs {
    margin-top: 30px;
}

.about-bobs-heading {
    color: #f8e9c6;
    font-family: 'Satisfy', sans-serif;
}

.about-p {
    font-size: 16px;
    color: white;
    text-align: justify;
}


/* Products Sample Section */

.product-cards {
    background-color: #0a272d;
    padding-top: 30px;
    position: relative;
}

/* .product-cards div h3 {
    text-align: center;
    font-family: 'Satisfy', sans-serif;
} */
.card {
    background-color: #06171B;
    min-height: 100%;
    border: none;
    width: 100%;
}

.card img {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.card-title {
    font-family: 'Satisfy', sans-serif;
    font-size: 30px;
    color: #f8e9c6;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    text-align: left;
}

.card-text {
    color: white;
    text-align: justify;  
}

/* Menu */

.menu-section {
    min-height: 100%;
    background-color: #0a272d;
}


.menu-card {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #f8e9c6;
    padding: 15px; 
    margin-bottom: 30px;
}

.menu-card-cakes-bg {
    background-image: url('/assets/images/cake.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.menu-card-bread-bg {
    background-image: url('/assets/images/bread.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.menu-card-pastries-bg {
    background-image: url('/assets/images/pastries.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.menu-card-meal-bg {
    background-image: url('/assets/images/meal.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}


.menu-card-heading {
    font-family: 'Satisfy', sans-serif;
    color: #f8e9c6;
}

.menu-card table {
    width: 100%;
    margin-bottom: 30px;
}

.menu-card th {
    color: #f8e9c6;
}

.menu-card td {
    color: #fff;
}

.menu-card-footer {
    text-align: center;
    color:#f8e9c6;
}

/* Reviews Section */

.reviews-section {
    min-height: 100%; 
    background-color: #0a272d;
}

.stars {
    font-size: 25px;
    color: #f8e9c6;
}

.customer-name {
    color: #f8e9c6;
}

/* Gallery */

.gallery-section {
    background-color: #0a272d;
    min-height: 100%;
}

.gallery-image {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
}

.figure-caption {
    color: #f8e9c6;
}

/* Contact Section */

.contact-section {
    background-color: #0a272d;
}

.contact-hero-image {
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1511018556340-d16986a1c194?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

/* Contact Form Override */

label {
    color: #f8e9c6;
}

.text-muted {
    color: #f8e9c6!important;
}
/* Footer Section */

footer {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0a272d;
    color: white;
}

.footer-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #f8e9c6;
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
}
.social-media {
    width: 100%;
}

.social-media i {
    font-size: 30px;
    padding-right: 20px;
    color: #f8e9c6;
}

.social-media i:hover {
    color: #fff;
    transition: ease-in-out 0.1s;
}

.back-to-top-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    text-align: center;
    border: 3px solid #6b7b7e;
    border-radius: 50%;
    color: #6b7b7e;
    right: 100px;
    bottom: 13px;
    font-size: 30px;
}
.back-to-top-arrow:hover {
    color: #f8e9c6;
    border-color: #f8e9c6;
    transition: ease-in-out 0.3s;
}

.back-to-top-arrow:hover {
    color: #f8e9c6;
    border-color: #f8e9c6;
    transition: ease-in-out 0.3s;
}
/* Utilities */

hr.full-width-white {
    border-bottom: 1px solid white;
    width: 100%;
}

.hr-border-bottom {
    border-bottom: 2px solid #f8e9c6;
}

.page-heading { 
    color:#f8e9c6;
    font-family: 'Satisfy', sans-serif;
}

/* Bootstrap Overrides */

.btn-primary {
    color: #f8e9c6;
    background-color: #06171B;
    border: none;
}

.btn-primary:hover {
    color: #0a272d;
    background-color: #f8e9c6;
    border: none;
}

/* Media Queries */
@media screen and (max-width: 991px){
    .navbar-logo {
        display: none;
    }
    
}